
<div ng-show="notification" ng-style="ntfCloseAnime" ng-class="{true:'ntfError'}[ntfError]" class="notification">
  {{ notificationMessage }}  <i id="notificationClose" ng-click="closeNotification()" class="fas fa-times"></i>
</div>
