@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron mt-5 shadow">
    <h1>Stok Takip Otomasyonu</h1>
    <p class="lead">Stok Takip Otomasyonu Anasayfasına Hoşgeldiniz..:)</p>
    
</div>
