

<div class="modal fade" id="StokEditModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form name="editStokForm" ng-submit="editFormSubmit(itemInEditModal)">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Stok Düzenle</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">


                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="stok_kodu">Stok Kodu</label>
                            <input name="stok_kodu" type="text" ng-model="itemInEditModal.stok_kodu" required autofocus class="form-control" id="stok_kodu" placeholder="Stok Kodu">
                            <span class=" text-white rounded-pill absolute-validation" ng-show="editStokForm.stok_kodu.$touched && editStokForm.stok_kodu.$error.required ">Lütfen Stok Kodu giriniz.</span>

                        </div>
                        <div class="form-group col-md-12">
                            <label for="stok_adedi">Stok Adeti</label>
                            <input name="stok_adedi" type="number" ng-model="itemInEditModal.stok_adedi" required class="form-control" id="stok_adedi" placeholder="Stok Adeti">
                            <span class=" text-white rounded-pill absolute-validation" ng-show="editStokForm.stok_adedi.$touched && editStokForm.stok_adedi.$error.required ">Lütfen Stok Adeti giriniz.</span>

                        </div>
                        <div class="form-group col-md-12">
                            <label for="is_yeri">İş Yeri Seçiniz</label>
                            <select name="isyeri_id" class="form-control " id="is_yeri" ng-checked="isyeri.isyeri_adi==itemInEditModal.isyeri_adi" ng-model="itemInEditModal.isyeri_id" ng-options="isyeri.id as isyeri.isyeri_adi for isyeri in isyeriList">
                            </select>
                            <span class=" text-white rounded-pill absolute-validation" ng-show="editStokForm.isyeri_id.$touched && editStokForm.isyeri_id.$error.required ">Lütfen İş Yeri Seçiniz</span>


                        </div>
                        <div class="form-group col-md-12">
                            <label for="depo_id">Depo Seçiniz</label>
                            <select name="depo_id" class="form-control " id="depo_id" ng-checked="depo.depo_adi==itemInEditModal.depo_adi" ng-model="itemInEditModal.depo_id" ng-options="depo.id as depo.depo_adi for depo in depoList">
                            </select>
                            <span class=" text-white rounded-pill absolute-validation" ng-show="editStokForm.depo_id.$touched && editStokForm.depo_id.$error.required ">Lütfen Depo Seçiniz</span>


                        </div>
                        <div class="form-group col-md-12">
                            <label for="urun_id">Ürün Seçiniz</label>
                            <select name="urun_id" class="form-control " id="urun_id" ng-checked="urun.urun_adi==itemInEditModal.urun_adi" ng-model="itemInEditModal.urun_id" ng-options="urun.id as urun.urun_adi for urun in urunList">
                            </select>
                            <span class=" text-white rounded-pill absolute-validation" ng-show="editStokForm.urun_id.$touched && editStokForm.urun_id.$error.required ">Lütfen Ürün Seçiniz</span>


                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Kapat</button>
                    <button type="submit" class="btn btn-outline-info">Düzenle</button>
                </div>
            </form>
        </div>

    </div>
</div>
