

<div class="modal fade" id="IsyeriAddModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form name="addIsyeriForm" ng-submit="addFormSubmit(itemInAddModal)">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">İş Yeri Ekleme</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">


                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="adi">İşyeri Adı</label>
                            <input name="isyeri_adi" type="text" ng-model="itemInAddModal.isyeri_adi" required autofocus class="form-control" id="isyeri_adi" placeholder="İşyeri Adı">
                            <span class=" text-white rounded-pill absolute-validation" ng-show="addIsyeriForm.isyeri_adi.$touched && addIsyeriForm.isyeri_adi.$error.required ">Lütfen İşyeri Adı giriniz.</span>

                        </div>
                        
                    </div>



                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Kapat</button>
                    <button type="submit" class="btn btn-outline-success" >Ekle</button>
                </div>
            </form>
        </div>

    </div>
</div>
